MetalTensorOp.xcodeproj/xcshareddata/xcschemes/MetalTensorOp.xcscheme
MetalTensorOp.xcodeproj/xcuserdata/lakiiinbor.xcuserdatad/xcschemes/xcschememanagement.plist
MetalTensorOp.xcodeproj/xcuserdata/lakiiinbor.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
